.gradle
build/**
bin/**
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/

### Mac OS ###
.DS_Store

### BOXLANG ###
/libs/
src/test/resources/libs/*
!src/test/resources/libs/.gitkeep
.agents/skills/**
.opencode

### E2E (Playwright) ###
e2e/node_modules/
e2e/test-results/
e2e/playwright-report/
site/
boxlang_modules/
derby.log
